.promo {
    position: relative;
    @media (min-width: 768px) {
        /* padding-left: 80px; */
    }
}

.promo__wrapper {
    display: flex;
    background-color: var(--color-dark);

    position: relative;

    @media (min-width: 768px) {
        padding-left: 80px;
        height: 100vh;
    }
}

.promo__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    padding: 60px 0;
    flex: 1;

    @media (min-width: 768px) {
        flex-direction: row;
        flex: 1;

    }

    @media (min-width: 1200px) {
        flex-direction: row;
        gap: 40px;
    }
}

.promo__main-information {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    padding-top: 60px;

    @media (min-width: 768px) {
        align-self: center;
        padding: 160px 0 60px 0;
    }
}

.promo__title {
    max-width: 340px;

    @media (min-width: 768px) {
        max-width: 408px;
    }

    @media (min-width: 1200px) {
        max-width: 740px;
    }
}

.promo__photo {
    align-self: center;
    @media (max-width: 1200px) {
        display: none;
    }
}

.promo__portrait-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (min-width: 768px) {
        padding-top: 60px;
        justify-content: space-between;
    }
}

.portrait-block__photo {
    display: block;
    @media (max-width: 1200px) {
        width: 220px;
        height: 294px;
    }
}

.portrait-block__text {
    padding-top: 60px;
    width: 220px;
    text-align: end;
}
