.works {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none;
    padding: 0 20px;

    overflow-x: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-padding: 20px;
}

.works__item {
    flex: 0 0 auto;
    scroll-snap-align: center;
}

.works__item--center {
    align-self: center;
    flex: 0 0 auto;
}

.works__item--bottom {
    align-self: end;
    flex: 0 0 auto;
}

.works__item--free {
    padding-top: 120px;
    flex: 0 0 auto;
}

.works__item--top {
    flex: 0 0 auto;
}